.trip-container {
    background-color: white;
    padding: 3em;
}

.trip-head {
    padding-top: 0.5em;
}

.image-trip {
    width: 70%;
    margin: auto;
}

.trip-details {
    margin-top: 3em;
}

.end-date {
    margin-left: 1em;
}

.meta-image-organiser {
    border-radius: 50%;
    -moz-border-radius: 50%;
    border: 5px solid #FFF;
    margin: -57px 0 10px;
    vertical-align: middle;
    /*box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);*/
    position: relative;
    z-index: 11;
    display: inline-block;
    overflow: hidden;
    max-width: 100px;
    max-height: 100px;
}

.image-organiser {
    width: 100%;
}

.organiser-name {
    font-size: 1.2em;
}

.attend-dropdown {
    width: 135px;
    height: 30px;
    background-color: #f0f0f0;
    float: right;
    border-radius: 2px;
    cursor: pointer;
    cursor: hand;
}

.trip-description {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.2em;
    margin-top: 3em;
}

.categories {
    font-size: 1.1em;
}