.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: forestgreen;
    /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav a {
    color: white;
}

.navbar {
    margin: 0;
    display: inline-block;
}

.column {
    text-align: center;
    float: none;
}

.navbar-default {
    /*background-color: transparent;
    border-color: #030033;*/
    border-radius: 0;
    border: 0;
    /*box-shadow: 0 2px 1px #888888;*/
    background-color: white;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: underline;
}

#navbar-user {
    padding: 0;
}

.navbar-hr {
    width: 35%;
    margin-top: 0;
    border-color: RGBA(72, 149, 14, 0.85);
}

/* ProfileInfo page */
#MainContent_ProfileContent_FormViewProfileInfo {
    display: inline-block;
    text-align: left;
}

.font-awesome {
    font-size: 1.7em;
    color: forestgreen;
}

.horizontal-view {
    display: inline;
}

.fa {
    margin-right: 10px;
}

#MainContent_ProfileContent_FormViewProfileInfo_ImageUser {
    margin-right: 50px;
}

#MainContent_ProfileContent_ButtonEdit,
#MainContent_ProfileContent_FormViewProfileInfo_ButtonSave {
    float: right;
}

#MainContent_ProfileContent_FormViewProfileInfo_City_DropDownCities {
    max-width: 280px;
}

#MainContent_ProfileContent_ButtonUploadImage {
    margin-left: 20px;
    margin-right: 20px;
}

#MainContent_ProfileContent_FormViewProfileInfo_Info {
    max-width: 100%;
}

.btn-upload {
    z-index: -1;
    opacity: 0;
}

.btn-follow {
    float: left;
}

.favUserImage {
    width: 50px;
    height: 50px;
}

.fav-users-header {
    margin-top: 50px;
    margin-bottom: 50px;
}

.dropdown-menu {
    top: 30%;
    min-width: 100px;
    padding: 0;
}

.btn-dropdown {
    margin-right: 30px;
    border-radius: 10px;
    position: relative;
    top: -15px;
}

.btn-unfollow {
    border: 0;
    background-color: transparent;
    margin-left: 10px;
}

/* ProfileReviews page */

#MainContent_ProfileContent_TextBoxAddReviewText {
    min-width: 100%;
}

.radio-btns-review{
    font-size:1.2em;
}

.review-body {
    padding-bottom:0;
}
