@font-face {
    font-family: HoboStd;
    src: url(../../fonts/Hobo-Std-Medium.ttf);
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F0F0F0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
textarea,
select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="select"] {
    max-width: 280px;
}

.navbar {
    background-color: forestgreen;
    border: 0;
}

.navbar-inverse .navbar-main > li > a,
.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-size: 1.2em;
}

.navbar-inverse .navbar-brand {
    font-size: 2em;
    color: white;
    font-family: HoboStd;
}


.btn {
    font-family: Roboto, Arial;
    border-radius: 0;
}

.btn-warning {
    background-color: #DD890B;
}

.btn-success {
    background-color: #71bf38;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

.navbar-fixed-top {
    min-height: 60px;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 60px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

h2.page-headers, h3.page-headers {
    text-align: center;
    color: rgb(12, 197, 241);
    margin-bottom: 50px;
}

.error-headers {
    text-align: center;
    color: #00B5DB;
    font-size: 5em;
}

.input-labels {
    color: #4aa504;
}

.hidden {
    visibility: hidden;
}

a {
    text-decoration: none !important;
    color: black;
}

    a:hover {
        color: #cf4d35;
    }

img.resizable:hover {
    webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    webkit-transition: -webkit-transform .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out;
    -ms-transition: -ms-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

.meta-image {
    overflow: hidden;
    max-height: 13em;
}

.info {
    color: #c1bfbf !important;
    font-size: 1.1em;
}

    .info::before {
        content: '';
        font-size: 0.6em;
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        -moz-border-radius: 0.2em;
        -webkit-border-radius: 0.2em;
        border-radius: 0.2em;
        background-color: #c1bfbf;
        margin: 0.2em;
    }

.oveflow-ellipsis-row-3 {
    margin: 1em;
    font-size: 1.2em;
    height: 4em;
    max-width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

i.font-awesome {
    font-size: 1.5em;
    color: forestgreen;
}

.fa {
    margin-right: 10px;
}

i.font-awesome {
    width: 1em;
    text-align: center;
}

.hyperlink:hover {
    color: #cf4d35;
}

.sitemap-wrapper {
    margin: 2em 0 1.5em 0;
    background-color: white;
    padding: 15px;
    color: #555555;
    box-shadow: 0 2px 1px #E3E3E5;
}

.box-shadow {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
}

input.tags-select-textbox {
    display: inline-block;
}

.tags-select-item {
    display: inline-block;
    height: 2em;
    border: 1px solid #cf4d35;
    border-radius: 5px;
    color: #cf4d35;
    padding: 0.3em;
    margin: 0.5em;
}

    .tags-select-item:before {
        content: "#";
    }

div.toast:first-child {
    margin-top: 4em !important;
}

.error-container {
    height: 1.5em;
    color: #b94a48 !important;
}

.display-none {
    display: none;
}

.float-right {
    float: right;
}

.margin-top-1em {
    margin-top: 1em;
}

.margin-left-1em {
    margin-left: 1em;
}
