<form id="file-upload" action="/image/upload" method="post" class="margin-top-1em">
    <input type="file" name="file" class="btn-upload" width="95" id="image-upload" />
    <label for="image-upload" class="label-upload btn btn-xs btn-default">@Resources.Labels.ChooseImage</label>

    <input type="button" id="image-submit" value="@Resources.Labels.UploadImage" class="btn btn-xs btn-success" />
</form>